<html>
<head> <%= link_to("Keyboard", keyboard_path) %> </head>


<body class="body">
	<h3 style="margin-left: 500px; postion: relative; margin-top: 47px;">Welcome to Octaves!</h3>

	<div class="top-block">
		<div class="welcome">
			Octaves is an interactive keyboard for learning basic music theory. By using Octaves you can learn scales, chords, basic songs, and practice ear training and sight-reading.
		</div>
	</div>
 </body>

</html>
