<html>
<head> <h3 style="margin-left: 500px; postion: absolute;">Welcome to Octaves!</h3></head>


<body>
	<div class="welcome">
		Octaves is an interactive keyboard for learning basic music theory. By using Octaves you can learn scales, chords, basic songs, and practice ear training and sight-reading.
	</div>
 </body>

</html>
