<p id="notice"><%= notice %></p>

<div class="header">
	<div class="nav-bar">
		<%= link_to("Keyboard", keyboard_path) %>
		<%= link_to("Home", root_path) %>
		<h2> Welcome <%= @user.first_name %>! <h2>
	</div>
</div>


