<select class="chord-root-selection" data-value=''>
  <option class="chord-root" value="1C">C</option>
  <option class="chord-root" value="1Cs">C#</option>
  <option class="chord-root" value="1D">D</option>
  <option class="chord-root" value="1Ds">D#</option>
  <option class="chord-root" value="1E">E</option>
  <option class="chord-root" value="1F">F</option>
  <option class="chord-root" value="1Fs">F#</option>
  <option class="chord-root" value="1G">G</option>
  <option class="chord-root" value="1Gs">G#</option>
  <option class="chord-root" value="2A">A</option>
  <option class="chord-root" value="2As">A#</option>
  <option class="chord-root" value="2B">B</option>
</select>

<select class="chord-selection">
  <option class="chord" value="major">Major</option>
  <option class="chord" value="minor">Minor</option>
  <option class="chord" value="dominant7th">Dominant 7th</option>
  <option class="chord" value="major7th">Major 7th</option> 
  <option class="chord" value="minor7th">Minor 7th</option>
  <option class="chord" value="augmented">Augmented</option>
   <option class="chord" value="major6th">Major 6th</option>           
</select>