<html>
<head>  
  <%= link_to("Home", root_path) %>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
  <button type="button" class="buttons first" id="scale"> Scales </button>
  <button type="button" class="buttons first" id="chord" style="left: 50%;"> Chords </button>

  <div class="scale-choices">
    <button type="button" class="buttons" id="play-scale-button"> Play Scales </button>
    <button type="button" class="buttons" id="scale-identification"style="left: 50%;"> Scale Identification </button>
  </div>
  <div class="play-scales">
    <div>
      <select class="scale-choice form-control" data-value=''>
        <option class="scale" value="1C">C</option>
        <option class="scale" value="1Cs">C#</option>
        <option class="scale" value="1D">D</option>
        <option class="scale" value="1Ds">D#</option>
        <option class="scale" value="1E">E</option>
        <option class="scale" value="1F">F</option>
        <option class="scale" value="1Fs">F#</option>
        <option class="scale" value="1G">G</option>
        <option class="scale" value="1Gs">G#</option>
        <option class="scale" value="2A">A</option>
        <option class="scale" value="2As">A#</option>
        <option class="scale" value="2B">B</option>
      </select>
      <select class="mode-choice form-control">
      	<option class="mode" value="major">Major</option>
      	<option class="mode" value="natural-minor">Natural Minor</option>
      	<option class="mode" value="harmonic-minor">Harmonic Minor</option>
      	<option class="mode" value="melodic-minor">Melodic Minor</option>
      	<option class="mode" value="minor-pentatonic-blues">Minor Pentatonic Blues</option>
      	<option class="mode" value="major-pentatonic-blues">Major Pentatonic Blues</option>
      	<option class="mode" value="major-pentatonic">Major Pentatonic</option>
      	<option class="mode" value="minor-pentatonic">Minor Pentatonic</option>
      </select>
    </div>
    <button class="play-scale"> Play Scale</button>
    <button class="back"> Back</button>
  </div> 

  <div class="chord-choices">
    <button type="button" class="buttons" id="play-chord-button"> Play Chords </button>
    <button type="button" class="buttons" id="chord-identification" style="left: 50%;"> Chord Identification </button>
    <div class="chord-choice-back pull-right">X</div>
  </div>
  <div class="play-chord-id" style="display: none;">
    <select class="chord-value" data-value=''>
      <option class="chord-root" value="1C">C</option>
      <option class="chord-root" value="1Cs">C#</option>
      <option class="chord-root" value="1D">D</option>
      <option class="chord-root" value="1Ds">D#</option>
      <option class="chord-root" value="1E">E</option>
      <option class="chord-root" value="1F">F</option>
      <option class="chord-root" value="1Fs">F#</option>
      <option class="chord-root" value="1G">G</option>
      <option class="chord-root" value="1Gs">G#</option>
      <option class="chord-root" value="2A">A</option>
      <option class="chord-root" value="2As">A#</option>
      <option class="chord-root" value="2B">B</option>
    </select>

    <select class="chord-choice">
      <option class="chord" value="major">Major</option>
      <option class="chord" value="minor">Minor</option>
      <option class="chord" value="dominant7th">Dominant 7th</option>
      <option class="chord" value="major7th">Major 7th</option>      
    </select>

    <button type="button" class="buttons listen">Listen</button>
  </div>
  <div class='play-chord' style="display:none;">
    <div>
      <select class="chord-value" data-value=''>
        <option class="chord-root" value="1C">C</option>
        <option class="chord-root" value="1Cs">C#</option>
        <option class="chord-root" value="1D">D</option>
        <option class="chord-root" value="1Ds">D#</option>
        <option class="chord-root" value="1E">E</option>
        <option class="chord-root" value="1F">F</option>
        <option class="chord-root" value="1Fs">F#</option>
        <option class="chord-root" value="1G">G</option>
        <option class="chord-root" value="1Gs">G#</option>
        <option class="chord-root" value="2A">A</option>
        <option class="chord-root" value="2As">A#</option>
        <option class="chord-root" value="2B">B</option>
      </select>

      <select class="chord-choice">
        <option class="chord" value="major">Major</option>
        <option class="chord" value="minor">Minor</option>
        <option class="chord" value="dominant7th">Dominant 7th</option>
        <option class="chord" value="major7th">Major 7th</option>      
      </select>
    </div>
    <button class="play-chord-button"> Play Chord</button>
  </div>

  <div class="keyboard-background">
  	 <ul class="piano">
      <li class="key">
        <div class="white-key" data-key="0" data-note="1C"></div>
        <div class="black-key" data-key="1" data-note="1Cs"></div>
      </li>
      <li class="key">
        <div class="white-key" data-key="2" data-note="1D"></div>
        <div class="black-key" data-key="3" data-note="1Ds"></div>
      </li>
      <li class="key">
        <div class="white-key" data-key="4" data-note="1E"></div>
      </li>
      <li class="key">
        <div class="white-key" data-key="5" data-note="1F"></div>
        <div class="black-key" data-key="6" data-note="1Fs"></div>
      </li>
      <li class="key">
        <div class="white-key" data-key="7" data-note="1G"></div>
        <div class="black-key" data-key="8" data-note="1Gs"></div>
      </li>
      <li class="key">
        <div class="white-key" data-key="9" data-note="2A"></div>
        <div class="black-key" data-key="10" data-note="2As"></div>
      </li>
      <li class="key">
        <div class="white-key" data-key="11" data-note="2B"></div>
      </li>
      <li class="key">
        <div class="white-key" data-key="12" data-note="2C"></div>
        <div class="black-key" data-key="13" data-note="2Cs"></div>
      </li>
      <li class="key">
        <div class="white-key" data-key="14" data-note="2D"></div>
        <div class="black-key" data-key="15" data-note="2Ds"></div>
      </li>
      <li class="key">
        <div class="white-key" data-key="16" data-note="2E"></div>
      </li>
      <li class="key">
        <div class="white-key" data-key="17" data-note="2F"></div>
        <div class="black-key" data-key="18" data-note="2Fs"></div>
      </li>
      <li class="key">
        <div class="white-key" data-key="19" data-note="2G"></div>
        <div class="black-key" data-key="20" data-note="2Gs"></div>
      </li>
      <li class="key">
        <div class="white-key" data-key="21" data-note="3A"></div>
        <div class="black-key" data-key="22" data-note="3As"></div>
      </li>
      <li class="key">
        <div class="white-key" data-key="23" data-note="3B"></div>
      </li>
    </ul>
  </div>
 </body>
</html>
