<html>
<head>  <%= link_to("Home", root_path) %> </head>


<body>
<div class="keyboard-background">
	<div class="white-key" id="c4"> </div>
	<div class="black-key" id="c#4"> </div>
	<div class="white-key" id="d4"> </div>
	<div class="black-key" id="d#4"> </div>
	<div class="white-key" id="e4"> </div>
	<div class="white-key" id="f4"> </div>
	<div class="black-key" id="f#4"> </div>
	<div class="white-key" id="g4"> </div>
	<div class="black-key" id="g#4"> </div>
	<div class="white-key" id="a4"> </div>
	<div class="black-key" id="a#4"> </div>
	<div class="white-key" id="b4"> </div>
	<div class="white-key" id="c5"> </div>
	<div class="black-key" id="c#6"> </div>
	<div class="white-key" id="d6"> </div>
	<div class="black-key" id="d#6"> </div>
	<div class="white-key" id="e6"> </div>
	<div class="white-key" id="f6"> </div>
	
</div> 
 </body>

</html>
