<html>
<head>  <%= link_to("Home", root_path) %> </head>


<body>
<div class="keyboard-background">
	<div class="white-key"> </div>
	<div class="black-key"> </div>
	<div class="white-key"> </div>
	<div class="black-key"> </div>
	<div class="white-key"> </div>
	<div class="white-key"> </div>
	<div class="black-key"> </div>
	<div class="white-key"> </div>
	<div class="black-key"> </div>
	<div class="white-key"> </div>
	<div class="black-key"> </div>
	<div class="white-key"> </div>
	<div class="white-key"> </div>
	<div class="black-key"> </div>
	<div class="white-key"> </div>
	<div class="black-key"> </div>
	<div class="white-key"> </div>
	<div class="black-key"> </div>
	<div class="white-key"> </div>
	
</div> 
 </body>

</html>
