<html>
<head>  <%= link_to("Home", root_path) %> </head>


<body>
<select class="scale-choice" data-value=''>
  <option class="scale" value="c4">C</option>
  <option class="scale" value="c#4">C#</option>
  <option class="scale" value="d4">D</option>
  <option class="scale" value="d#4">D#</option>
  <option class="scale" value="e4">E</option>
  <option class="scale" value="f4">F</option>
  <option class="scale" value="f#4">F#</option>
  <option class="scale" value="g4">G</option>
  <option class="scale" value="g#4">G#</option>
  <option class="scale" value="a4">A</option>
  <option class="scale" value="a#4">A#</option>
  <option class="scale" value="b4">B</option>
</select>
<select class="mode-choice">
	<option class="mode" value="major">Major</option>
	<option class="mode" value="natural-minor">Natural Minor</option>
	<option class="mode" value="harmonic-minor">Harmonic Minor</option>
	<option class="mode" value="melodic-minor">Melodic Minor</option>


</select>
<button class="play-scale"> Play Scale</button>
<div class="keyboard-background">
	<div class="white-key" data-key-number= 0 style="display:none;" data-note="b3"> </div>
	<div class="white-key" data-key-number= 1 data-note="c4"> </div>
	<div class="black-key" data-key-number= 2 data-note="c#4"> </div>
	<div class="white-key" data-key-number= 3 data-note="d4"> </div>
	<div class="black-key" data-key-number= 4 data-note="d#4"> </div>
	<div class="white-key" data-key-number= 5 data-note="e4"> </div>
	<div class="white-key" data-key-number= 6 data-note="f4"> </div>
	<div class="black-key" data-key-number= 7 data-note="f#4"> </div>
	<div class="white-key" data-key-number= 8 data-note="g4"> </div>
	<div class="black-key" data-key-number= 9 data-note="g#4"> </div>
	<div class="white-key" data-key-number= 10 data-note="a4"> </div>
	<div class="black-key" data-key-number= 11 data-note="a#4"> </div>
	<div class="white-key" data-key-number= 12 data-note="b4"> </div>
	<div class="white-key" data-key-number= 13 data-note="c5"> </div>
	<div class="black-key" data-key-number= 14 data-note="c#6"> </div>
	<div class="white-key" data-key-number= 15 data-note="d6"> </div>
	<div class="black-key" data-key-number= 16 data-note="d#6"> </div>
	<div class="white-key" data-key-number= 17 data-note="e6"> </div>
	<div class="white-key" data-key-number= 18 data-note="f6"> </div>
	<div class="black-key" data-key-number= 19 data-note="f#6"> </div>
	<div class="white-key" data-key-number= 20 data-note="g6"> </div>
	<div class="black-key" data-key-number= 21 data-note="g#6"> </div>
	<div class="white-key" data-key-number= 22 data-note="a6"> </div>
	<div class="black-key" data-key-number= 23 data-note="a#6"> </div>
	<div class="white-key" data-key-number= 24 data-note="b6"> </div>
	<div class="white-key" data-key-number= 25 data-note="c7"> </div>	
</div> 
 </body>

</html>
