<html>
<head>  <%= link_to("Home", root_path) %> </head>


<body>
<select class="scale-choice" data-value=''>
  <option class="scale" value="c4">C</option>
  <option class="scale" value="c#4">C#</option>
  <option class="scale" value="d4">D</option>
  <option class="scale" value="d#4">D#</option>
  <option class="scale" value="e4">E</option>
  <option class="scale" value="f4">F</option>
  <option class="scale" value="f#4">F#</option>
  <option class="scale" value="g4">G</option>
  <option class="scale" value="g#4">G#</option>
  <option class="scale" value="a4">A</option>
  <option class="scale" value="a#4">A#</option>
  <option class="scale" value="b4">B</option>


</select>
<button class="play-scale"> Play Scale</button>
<div class="keyboard-background">
	<div class="white-key" style="display:none;" data-note="b3"> </div>
	<div class="white-key" data-note="c4"> </div>
	<div class="black-key" data-note="c#4"> </div>
	<div class="white-key" data-note="d4"> </div>
	<div class="black-key" data-note="d#4"> </div>
	<div class="white-key" data-note="e4"> </div>
	<div class="white-key" data-note="f4"> </div>
	<div class="black-key" data-note="f#4"> </div>
	<div class="white-key" data-note="g4"> </div>
	<div class="black-key" data-note="g#4"> </div>
	<div class="white-key" data-note="a4"> </div>
	<div class="black-key" data-note="a#4"> </div>
	<div class="white-key" data-note="b4"> </div>
	<div class="white-key" data-note="c5"> </div>
	<div class="black-key" data-note="c#6"> </div>
	<div class="white-key" data-note="d6"> </div>
	<div class="black-key" data-note="d#6"> </div>
	<div class="white-key" data-note="e6"> </div>
	<div class="white-key" data-note="f6"> </div>
	<div class="black-key" data-note="f#6"> </div>
	<div class="white-key" data-note="g6"> </div>
	<div class="black-key" data-note="g#6"> </div>
	<div class="white-key" data-note="a6"> </div>
	<div class="black-key" data-note="a#6"> </div>
	<div class="white-key" data-note="b6"> </div>
	<div class="white-key" data-note="c7"> </div>	
</div> 
 </body>

</html>
