.body{
	background-color: #1d2023;
	.nav-bar{
		width: 100%;
    .error{
      background: #c00;
      color: white;
      position: absolute;
      padding: 10px;
      left: 40%
    }
	}
		h3{
			color: #fff;
			padding-bottom: 40px;
		}
	.header{



  	.top-block{
  		background-repeat: no-repeat;
  		height: 350px;
  		padding: 40px;
  		width: 100%;
  		margin-left: 12%;
  		color: #FFF;
        
        .sign-up, .log-in{
          background: none;
          border: thin solid #0077B3;
          height: 53px;
          width: 184px;
          position: absolute;
          left: 30%;
          color: #0077B3;
        }
        .log-in{
              left: 50%;
        }

  		
  	}
  }
.welcome{
  padding-top: 40px;
  display: block;
  width: 400px;
  color: white;
}
#sign-in-popup, #log-in-popup{
		height: 400px;
		width: 450px;
		background-color: #FFF;
		display: none;
		position: fixed;
        top: 7%;
        left: 32%;
		box-shadow: -2px 2px 7px 1px #aaa;
		border-radius: 2px;
  
  .close-popup{
    top: 10px;
    right: 10px;
    font-size: 18px;
    font-family: helvetica;
    position: absolute;
  }
  
  .close-popup:hover{
    cursor: pointer;
  }

    h2{
    	margin-top: 30px;
    	margin-left: 158px;   		
    	font-weight: 100;
    	position: relative;
    }
		.sign-up-form{
			margin-top: -10px;

	    .center{
	    	width: 330px;
	    	margin-left: 40px;
	    	margin-top: 48px;

	    	input[type="text"], input[type="password"]{
	    		margin-left: 0px;
	    		text-align: left;
	    		float: right;
	    		display: inline-block;
	    		margin-top: 9px;
	    	}

	    	label{
	    		padding-top: 10px;
	    		position: relative;
	    		display: inline-block;
	    	}
	    }
	    input[type="submit"]{
	    		margin-top: 50px; 
	    		margin-left: 125px;
	    		padding:5px 15px; 
	    		background:#ccc; 
	    		border:0 none;
    			cursor:pointer;
    			-webkit-border-radius: 5px;
   			  border-radius: 5px; 
   			  color: #FFF;
   			  background: #33ADFF;
	    }
	  }


	}
}
