.body{
	.nav-bar{
		width: 100%;
    .error{
      background: #c00;
      color: white;
      position: fixed;
      padding: 10px;
      top: 1%;
      left: 39%;
      border-radius: 4px;
    }
	}
		h3{
			color: #fff;
			padding-bottom: 40px;
		}
  .container{
    h1{
      position: relative;
      font-size: 70px;
      color: white;
      font-weight: 100;
      left: 0%;
    }
    p{
      color: white;
      font-size: 20px;
    }
  }
	.header{
  	.top-block{
      height: 103px;
      padding: 75px;
      color: #FFF;   
       background: rgba(17, 17, 17, 0.44);
        .sign-up, .log-in{
          background: none;
          border: thin solid #FFF;
          height: 53px;
          width: 184px;
          position: fixed;
          left: 30%;
          color: #FFF;
          margin-top: 20px;
        }
        .log-in{
              left: 50%;
        }

  		
  	}
  }
.welcome{
  padding-top: 40px;
  display: block;
  width: 400px;
  color: white;
}
#sign-in-popup, #log-in-popup{
		height: 530px;
    width: 560px;
		background-color: #FFF;
		display: none;
		position: fixed;
    top: 7%;
    left: 32%;
		box-shadow: -2px 2px 7px 1px #aaa;
		border-radius: 2px;
  
  .close-popup{
    top: 10px;
    right: 10px;
    font-size: 18px;
    font-family: helvetica;
    position: absolute;
  }
  
  .close-popup:hover{
    cursor: pointer;
  }

    h2{
    	margin-top: 30px;
    	margin-left: 204px;
      font-size: 26px; 		
    	font-weight: 100;
    	position: relative;
    }
		.sign-up-form, .log-in-form{
			margin-top: -10px;

	    .center{
	    	width: 330px;
	    	margin-left: 80px;
	    	margin-top: 48px;

	    	input[type="text"], input[type="password"]{
	    		margin-left: 0px;
	    		text-align: left;
	    		float: right;
	    		display: inline-block;
	    		margin-top: 9px;
	    	}

	    	label{
	    		padding-top: 10px;
	    		position: relative;
	    		display: inline-block;
	    	}
	    }
      input[type="text"], input[type="email"], input[type="password"] {
        height: 45px;
        border: 1px solid #ddd;
        font-size: 16px;
        -webkit-transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
        transition: all 0.1s linear;
        width: 300px;
        border-radius: 6px;
        padding-left: 10px;
      }
      input:focus {
        outline: none; 
      }
	    input[type="submit"]{
	    	background-color: #1CB94E;
        outline: none;
        color: #fff;
        font-size: 14px;
        height: auto;
        font-weight: normal;
        padding: 14px 0;
        text-transform: uppercase;
        border-color: #1CB94A;
        -webkit-appearance: button;
        cursor: pointer;
        border-radius: 4px;
        border: none;
        width: 200px;
        margin-top: 20px;
        margin-left: 75px;
	    }
	  }


	}
}
