.nav-bar{
		width: 100%;
		.log-in, .sign-up{
			float: right;
		}
}

h1{
  left: 42%;
  position: relative;
}

.user{
  position: relative; 
  display: inline-block;
  margin-bottom: 30px;

  div{
    display: inline-block;
  }
}
.score{
  float: right;
  position: relative;
  padding-left: 10px;
    /* margin: 10px; */
  margin-left: 174px;
}
.score1{
  float: right;
  position: relative;
}
